<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
    <div>
        <h2>Ordenes</h2>
        <h3 id="total"></h3>
        <button onclick=<%= `copy(${session.idusuario})` %>>Copiar link de donacion</button>
        <hr>
    </div>
    <div>
        <% 
        let recaudado = 0;
        orders.forEach(item => { 
        %>
        <h3>codigo de orden: <%= item.idorden %></h3>
        <% if(item.products.length > 0){ %>
            <p>productos</p>
        <% } %>
        <ul>
        <% item.products.forEach(p => { %>
            <li>
                <p>titulo: <%= p.titulo %></p>
                <p>costo: <%= p.costo %></p>
            </li>
        <% }); %>
        </ul>
        <% 
            let monto = item.donacion != undefined ? item.donacion : 0; 
            let total = item.products.reduce((acc, p)=>acc + Number(p.costo), 0) + monto;
            recaudado += total;
        %>
        <p>donacion voluntaria:<%= monto %></p>
        <strong>Total a pagar: <%= total %></strong>
        <hr>
        <% }); %>
        <input type="hidden" id="recaudado" value=<%= recaudado %>>
    </div>
</body>
</html>
<script>
    setTimeout(()=>{
        document.getElementById("total").innerText = "recaudado por el usuario: "+document.getElementById("recaudado").value;
    }, 34);
    const copy = (idusuario) =>{
        console.log(window.location);
        let idcampana = window.location.pathname.replace("/ordenes/", "");
        navigator.clipboard.
        writeText(`${window.location.host}/donar?id1=${idcampana}&id2=${idusuario}`)
        .then(()=> alert("link copiado al portapapeles"))
        .catch(()=> alert("ocurrio un erro al copiar"));
    }
</script>