<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
    <form action=<%= /campana/ + campaign.idcampana + "/edit" %> method="post">
        <div>
            <% if(session.administrador){ %>
                <input type="text" placeholder="nombre" name="name" value='<%= campaign.nombre %>' >
                <select name="lider">
                <% posiblesLideres.forEach(item => { %>
                    <option <% if(item.idusuario == campaign.lider){%> selected <%}%> value=<%= item.idusuario %> ><%= item.username %></option>
                <% }) %>
                </select>
            <% } %>
            <% if(session.lider){ %>
                <input type="text" placeholder="objetivo" name="target" value=<%= campaign.objetivo %> >
            <% } %>
        </div>
        <% if(session.lider){ %>
            <button type="button" onclick="add()">agregar producto</button>
            <div id="products">
                <% products.forEach((element, index) => { %>
                    <div>
                        <input hidden type='text' name=<%= "products["+index+"][id]" %> value=<%= element.idproducto %>>
                        <input placeholder='descripcion del producto' type='text' name=<%= "products["+index+"][description]" %> value='<%= element.titulo %>' >
                        <input placeholder='costo' type='text' name=<%= "products["+index+"][price]" %> value=<%= element.costo %>>
                        <small>producto <input type='radio' value='bien' name=<%= "products["+index+"][type]" %> <% if(element.tipo == 'bien'){%> checked <%}%> ></small>
                        <small>servicio <input type='radio' value='servicio' name=<%= "products["+index+"][type]" %> <% if(element.tipo == 'servicio'){%> checked <%}%> ></small>
                    </div>
                <% }); %>
            </div>
            <div id="equipo">
                <input type="hidden" id="allUsers" value=<%= JSON.stringify(posiblesLideres) %>>
                <input type="button" id="addUser()" value="agregar usuario" onclick="addUser()">
                <% team.forEach((element, index) => { %>
                    <div>
                        <input hidden type='text' name=<%= "team["+index+"][id]" %> value=<%= element.idusuario %> >
                        <%= element.username %>
                    </div>
                <% }); %>
            </div>
            <div id="nuevosMiembros">

            </div>
        <% } %>
        <button type="submit">guardar</button>
    </form>
</body>

</html>
<script>
    const add = function()
    {
        let index = document.getElementById("products").childElementCount;
        let div = document.createElement('div');
        div.innerHTML = "<input placeholder='descripcion del producto' type='text' name='products["+index+"][description]'><input placeholder='costo' type='text' name='products["+index+"][price]'><small>producto <input value='bien' type='radio' name='products["+index+"][type]'></small><small>servicio <input type='radio' value='servicio' name='products["+index+"][type]'></small>";
        document.getElementById("products").appendChild(div);
    };

    const addUser = ()=>
    {
        let index = document.getElementById("nuevosMiembros").childElementCount;
        let allUsers = JSON.parse(document.getElementById("allUsers").value);
        let options = allUsers.map(user => "<option value="+user.idusuario+">"+user.username+"</option>").join("");

        let div = document.createElement('div');
        div.innerHTML = "<select name='newAgent[]'>"+options+"</select><input type='button' value='X' onclick=remove(event.target)>"
        document.getElementById("nuevosMiembros").appendChild(div);
    };

    const remove = (element) => document.getElementById("nuevosMiembros").removeChild(element.parentNode);

</script>