<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
    <div style="display: flex;">
        <% if(session.administrador){ %>
            <input type="button" onclick=<%="location.href='/campana/create'" %> value="Crear campaña">
            <input type="button" onclick=<%="location.href='/usuario'" %> value="Lista de usuario">
        <% } %>
        <form action="/logout" method="POST">
            <button type="submit">cerrar sesion</button> 
        </form>
    </div>
    <h2>Campañas</h2>
    <table>
    <tr>
        <th>id</th>
        <th>nombre</th>
        <th>lider</th>
        <th>objetivo</th>
        <th>recaudo total</th>
        <% if(session.administrador){ %>
        <th>acciones</th>
        <% } %>
    </tr>
    <% 
    let colors = {a:"#cfecf1", b:"white"} 
    campaigns.forEach((campaign, index) => { 
    let actualC = index % 2 == 0 ? colors.a : colors.b  ;
    %>
        <tr style=<%= `background-color:${actualC}`%>>
            <td><%= campaign.idcampana %></td>
            <td><%= campaign.nombre %></td>
            <td><%= campaign.username %></td>
            <td><%= campaign.objetivo %></td>
            <td><%= campaign.recaudado %></td>
            <td>
                <% if(session.administrador || session.lider && session.idusuario === campaign.idusuario){ %>
                    <!-- <a href= <%= '/campana/'+campaign.idcampana+'/edit' %>>edit</a> -->
                    <input type="button" onclick=<%="location.href='/campana/"+campaign.idcampana+"/edit'" %> value="Editar">
                <% } %>
                <!-- <a href= <%= '/ordenes/'+campaign.idcampana %>>ver detalles</a> -->
                <input type="button" onclick=<%="location.href='/ordenes/"+campaign.idcampana+"'" %> value="Ver detalles">
            </td>
        </tr>
    <% }); %>
    </table>
</body>
</html>